@import "../../assets/styles/variables";
.login-wrapper {
  width: 40%;
  margin: 0 auto;
  margin-top: 10%;
  background: $gray200;
  color: $black;
}

.login-header {
  font-weight: 900;
  font-size: 1.5em;
}

.login-content {
  margin-top: 20px;
}

.login-info {
  margin-top: 10px;
  margin-bottom: 10px;
}

.full-width {
  width: 100%;
}

.progress-bar {
  position: absolute;
  left: 0;
  bottom: 0;
}
